/* STYLING */

/* Global */

body {
    background: url("../img/bg-tile.jpg");
}

/* Header */
header img {
    width: 100px;
}

.header {
    background: #22313f;
    color: #f5d76e;
    padding: 10px;
    margin: -10px -10px 20px -10px;
    position: relative;
}

h1 {
    text-transform: uppercase;
    font-size: 3em;
    margin: -5px;
}

/* Main Nav */

@import url(https://fonts.googleapis.com/css?family=Lato);

nav li {
    font-family: 'Lato', sans-serif;
    list-style: none;
    display: inline-block;
    font-size: .75em;
    text-transform: uppercase;
}

nav a:link,
nav a:visited {
  background: #C9C9C9;
  color: #22313f;
  text-decoration: none;
  padding: 1em;
  transition: all .5s;
}

nav a:hover,
nav a:active {
  background: #f5d76e;
  margin-left: 0.5em;
}

/* Paragraphs */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.grid-6 {
    font-family: 'Open Sans', sans-serif;
}

.bio {
    background: #fff;
    height: 510px;
    padding: 10px;
}

h3 {
    color: #22313f;
    text-transform: uppercase;
    font-size: 2em;
}

p, dt, dd {
    font-size: 0.8em;
}

li {
    font-size: 0.8em;
    list-style: none;
}

.grid-container3 {
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    width: 80%;
    padding: 10px 0 40px 50px;
    margin: 0 auto 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.grid-3 {
    width: 100%;
    clear: both;
}

/* Quote */

blockquote {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 2em;
    color: #f5d76e;
    background: #fff;
    font-style: italic
}

@media screen and (min-width: 900px) {
    .grid-container3  .grid-3 {
        display: flex;
        flex-wrap: wrap;
        padding: inherit;
        clear: both;
        width: 100%;
    }
}