/* STYLING */

/* Global */

body {
    background: url("../img/bg-tile.jpg");
}

/* Header */
header img {
    width: 100px;
}

/* Main Nav */

@import url(https://fonts.googleapis.com/css?family=Lato);

nav li {
    font-family: 'Lato', sans-serif;
    list-style: none;
    display: inline-block;
    font-size: .75em;
}

nav a:link,
nav a:visited {
  background: #C9C9C9;
  text-decoration: none;
  padding: 1em;
  transition: all .5s;
}

nav a:hover,
nav a:active {
  background: #76D5F5;
  margin-left: 0.5em;
}

/* Paragraphs */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.grid-6 {
    font-family: 'Open Sans', sans-serif;
}

.grid-container3 {
    font-family: 'Open Sans', sans-serif;
}

/* Quote */

@import url(https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC);

blockquote {
    font-family: 'IM Fell DW Pica SC', serif;
    text-align: center;
    font-size: 2em;
    color: #72B0D0;
}